[submodule "pack/ava/start/fzf.vim"]
	path = pack/ava/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/base/start/vim-commentary"]
	path = pack/base/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/base/start/vim-surround"]
	path = pack/base/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/base/start/fzf"]
	path = pack/base/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/base/start/lightline"]
	path = pack/base/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/base/start/fugitive"]
	path = pack/base/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/base/start/vimux"]
	path = pack/base/start/vimux
	url = https://github.com/benmills/vimux
[submodule "pack/ava/start/ycm"]
	path = pack/ava/start/ycm
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/base/opt/pack/base/opt/html/emmet"]
	path = pack/base/opt/html/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "pack/base/opt/pack/base/opt/html/html5"]
	path = pack/base/opt/html/html5-syntax
	url = https://github.com/othree/html5.vim
[submodule "pack/base/opt/bash/bats"]
	path = pack/base/opt/bash/bats
	url = https://github.com/vim-scripts/bats.vim
[submodule "pack/base/opt/go/go-syntax"]
	path = pack/base/opt/go/go-syntax
	url = https://github.com/fatih/vim-go
[submodule "pack/base/opt/asciidoc/asciidoctor-syntax"]
	path = pack/base/opt/asciidoc/asciidoctor-syntax
	url = https://github.com/habamax/vim-asciidoctor
