[submodule "pack/ava/start/fzf.vim"]
	path = pack/ava/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/base/start/vim-commentary"]
	path = pack/base/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/base/start/vim-surround"]
	path = pack/base/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/base/start/fzf"]
	path = pack/base/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/base/start/lightline"]
	path = pack/base/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/base/start/lightline-ale"]
	path = pack/base/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "pack/base/start/fugitive"]
	path = pack/base/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/base/start/vimux"]
	path = pack/base/start/vimux
	url = https://github.com/benmills/vimux
[submodule "pack/ava/start/ycm"]
	path = pack/ava/start/ycm
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/base/opt/pack/base/opt/html/emmet"]
	path = pack/devbox/start/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "pack/base/opt/pack/base/opt/html/html5"]
	path = pack/devbox/start/html5-syntax
	url = https://github.com/othree/html5.vim
[submodule "pack/base/opt/bash/bats"]
	path = pack/base/start/bats
	url = https://github.com/vim-scripts/bats.vim
[submodule "pack/base/opt/go/go-syntax"]
	path = pack/devbox/start/go-syntax
	url = https://github.com/fatih/vim-go
[submodule "pack/base/opt/asciidoc/asciidoctor-syntax"]
	path = pack/devbox/start/asciidoctor-syntax
	url = https://github.com/habamax/vim-asciidoctor
[submodule "pack/base/start/asyncrun"]
	path = pack/base/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "pack/base/start/asynctasks"]
	path = pack/base/start/asynctasks
	url = https://github.com/skywind3000/asynctasks.vim
[submodule "pack/base/start/vim-polyglot"]
	path = pack/base/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/base/start/nnn.vim"]
	path = pack/base/start/nnn.vim
	url = https://github.com/mcchrish/nnn.vim
[submodule "pack/python/start/black"]
	path = pack/base/start/black
	url = https://github.com/psf/black
[submodule "pack/python/start/vim-virtualenv"]
	path = pack/python/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "pack/base/start/patchreview"]
	path = pack/base/start/patchreview
	url = https://github.com/junkblocker/patchreview-vim
[submodule "pack/base/start/devicons"]
	path = pack/base/start/devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/base/start/nerdtree"]
	path = pack/base/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/base/start/tagbar"]
	path = pack/base/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/base/start/gutentags"]
	path = pack/base/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "pack/base/start/auto-pairs"]
	path = pack/base/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
